* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

.input-wrapper {
    margin-bottom: 10px;
}


.input-wrapper input {
    padding: 12px 10px;
    border: 1px solid rgb(66, 126, 10);
    border-radius: 5px;
    width: 100%;
}

.btn {
    padding: 7px 12px;
    color: white;
    background-color: rgb(62, 173, 86);
    border-radius: 3px;
    border-width: 1px;
}
